body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    /*text-align: center;*/
    color: orangered;
    background-color: black;
}

/* 41, 68, 125*/

label {
    color: rgb(201, 103, 4);
    font-size: 24px;
    width: 400px;
    /* grid-gap: 10px; */
    margin: 10px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    /* padding: 20px; */
    text-align: center;
}

input {
    /* width: 400px; */
    padding: 10px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding: 20px;
    text-align: center;
}

form {
    display: grid;
    box-sizing: border-box;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    height: auto;
}

form>.button-container {
    grid-column: 3;
}

form>label {
    grid-column: 2;
    padding-top: 1.5svh;
}

form>input {
    grid-column: 3;
    font-size: 18px;
    margin-top: 1.5svh;
}

form>input [type=submit] {
    grid-column: 3;
    /* width:30% */
    align-items: center;
}

form>.grid-container {
    grid-column: 3;
}

.grid-container {
    width: 80%;
    margin: 20px;
}

.button-container {
    margin: 20px;
}

.Admin-Button {
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
}
.admin_btn{
    color: rgb(201, 103, 4);
}
a {
    font-size: 50px;
    grid-column: 2;
    text-decoration: none;
    color: rgb(201, 103, 4);
    font-weight: bold;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;

}

a:hover {
    color: white;
    opacity: 100;
}

form[type=submit] {
    width: 400px;

}

/* .grid-container {
    grid-gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
} */

.item1,
.item2 {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}

select {
    width: 100%;
    padding: 8px;
}

input[type="submit"] {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 30px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type=submit] {
    color: rgb(201, 103, 4);
    background-color: black;
    font-size: 20px;
    height: 30px;
    width: 400px;

}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: rgb(201, 103, 4);
    font-size: 50px;
}

h2 {
    color: rgb(201, 103, 4);
    font-size: 18px;
}

.center {
    /* text-align: center; */
    margin: auto;
    height: 100%;
    width: 90%;
    padding: 10px;
    padding-bottom: 30px;
    background-color: rgb(41, 68, 125);
}

.admin-text-equipment{
    font-size: 35px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: black;
    font-weight: bold;
    border-top: 6px double black;
    border-bottom: 6px double black;
    border-right: 6px double black;
    border-left: 6px double black;
    background-color: rgb(41, 68, 125);
}
