{% extends "base.html" %}
{%block title%}
Ericsson Space Equipment Admin Page
{% endblock%}

{%block head%}
<div>
<h1>ADMIN PAGE</h1>
</div>
{% endblock%}
{%block body%}
<div class = "center">
    <form action="/admin_categories.html" method= "post">
    <label>Select an option:</label>
            <div class = "grid-container">
                <form action="/submit" method="post">
                    <select id="dropdown" name="dropdown">
                        {% for option in options %}
                            <option value="{{ option }}">{{ option }}</option>
                        {% endfor %}
                    </select>
                    
            </div>   
            <div class = "button-container">
                <input type="submit" value="Submit">
            </div> 
            {% for each in foo %}
                <div class = "admin-text-equipment">
                    {{  each  }}
                </div>
                {% endfor %}
        </form>      
</div>
{% endblock%}